@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');


.contenido
{
    width: 100%;
    height: 768px;
  
    display:flex;

   

}
.instrucciones
{
    width:30%;
    height: 100%;
    background-color:#f44336;
 
    padding-left:15px;
    
}
.instrucciones h2
{
    font-family: 'Luckiest Guy', cursive;
    color:white;
    letter-spacing: 1px;
    text-align: center;
}
.instrucciones p
{
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-align: left;
}
.juego
{
    width:70%;
    height: 100%;
    display:flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    background-color: #3488c0;
    position:relative;
}
.cerebro2
{
    width: 50%;
    height: 25%;
    margin-left: 16%;
    margin-top: 15px;
}
.tituloJuego
{
   
    text-align: center;
    font-family: 'Fascinate Inline', cursive!important;
    color:white;
}
.fila1, .fila2, .fila3, .fila4
{
    box-sizing: border-box;
    width:80%;
    margin-left:10%;
  
    height: 15%;
}
.fila1 img
{
    box-sizing: border-box;
    margin-right: 5%;
    margin-top: 1%;
    border: 2px solid white;
    border-radius: 5%;
    background-color: orangered;
}
.fila2 img
{
    box-sizing: border-box;
    margin-right: 5%;
    margin-top: 1%;
    border: 2px solid white;
    border-radius: 5%;
    background-color: orangered;
}
.fila3 img
{
    box-sizing: border-box;
    margin-right: 5%;
    margin-top: 1%;
    border: 2px solid white;
    border-radius: 5%;
    background-color: orangered;
}
.fila4 img
{
    box-sizing: border-box;
    margin-right: 5%;
    margin-top: 1%;
    border: 2px solid white;
    border-radius: 5%;
    background-color: orangered;
}

.fila1 img:hover, .fila2 img:hover, .fila3 img:hover, .fila4 img:hover
{
    cursor:pointer;
    background-color: red;
    transition: .5s;
}
.animacion
{
    animation:shake 1s 1 ease-in-out;
}

@-webkit-keyframes shake {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }
  
  @keyframes shake {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }
  
  .shake {
    -webkit-animation-name: shake;
    animation-name: shake;
  }
  .tiempo
  {
    position: absolute;
    font-size: 1.5em;
    top: 2%;
    color: pink;
    text-shadow: 2px 2px black;
    left: 5%;
    font-family: 'Luckiest Guy', cursive;
    display: none;
  }
  .jugar
  {
   
    background-color: red;
    border: 2px solid white;
    padding: 2px;
    border-radius: 40% 40%;
    font-size: 1.6em;
    width: 100px;
    display:none;
    position:absolute;
    z-index:1000;
    top:0;
    left:0;
    color: white;
    outline: none;
    font-family: 'Luckiest Guy', cursive;
  }
  .puntaje
  {
      position:absolute;
      z-index:1200;
      width: 70%;
      height: 85%;
      display:flex;
      text-align:center;
      align-items:center; 
    margin-left:30%;

    justify-content: center;
    }
    .elPuntaje
    {
        box-sizing: border-box;
        position: relative;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
        background-color: #f44336;
        width: 50%;

        /* height: 50%; */
        border: 7px solid white;
        border-radius: 13%;
    }
    .elPuntaje h1
    {
        font-family: 'Luckiest Guy', cursive;
        color:white;
        letter-spacing: 1px;
    }
    .elPuntaje img
    {
        width: 60%;
        height: 60%;
        
        margin-bottom: -25px;
    }
    .mostrarPuntajeFinal
    {
        display:none;
    }
  .jugar:hover
  {
      background: rgba(255, 0, 0, 0.568);
   
      cursor: pointer;
  }
  .puntos
  {
    position: absolute;
    font-size: 1.5em;
    top: 6%;
    color: pink;
    text-shadow: 2px 2px black;
    right: 5%;
    font-family: 'Luckiest Guy', cursive;
  }
  .taparJuego
  {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 73%;
    box-sizing: border-box;
    margin-top: 4%;
    display: none;
 
    
  }
  .activarTaparJuego
  {
      display:block;
  }
  .mostrar
  {
    display:block;
  }
  @media (max-width: 680px)
{
  .instrucciones
  {
      display:none;
  }
  .juego
  {
      width:100%;
  }
  .taparJuego
  {
     
  }
  .jugar
  {
      font-size: 1em;
  }
}
@media (max-width: 1150px)
{
  .taparJuego
  {
      margin-top:135px;
  }
  
}
@media (max-width: 500px)
{
  
  .elPuntaje
  {
     width:100%;
  }
  .puntaje
  {
      margin-left:15%;
  }
}