@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');


.contenido
{
    width: 100%;
    height: 85%;
  
    display:flex;

   

}
.instrucciones
{
    width:30%;
    height: 100%;
    background-color:#f44336;
 
    padding-left:15px;
    
}
.instrucciones h2
{
    font-family: 'Luckiest Guy', cursive;
    color:white;
    letter-spacing: 1px;
    text-align: center;
}
.instrucciones p
{
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-align: left;
}
.juego
{
    width:70%;
    height: 100%;
    display:flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    background-color: #3488c0;
    position:relative;
}
.cerebro2
{
    width: 50%;
    height: 25%;
    margin-left: 16%;
    margin-top: 15px;
}
.tituloJuego
{
   
    text-align: center;
    font-family: 'Fascinate Inline', cursive!important;
    color:white;
}
.fila1, .fila2, .fila3, .fila4
{
    box-sizing: border-box;
    width:80%;
    margin-left:10%;
  
    height: 20%;
}
.fila1 img
{
    box-sizing: border-box;
    margin-right: 5%;
    margin-top: 1%;
    border: 2px solid white;
    border-radius: 5%;
    background-color: orangered;
}
.fila2 img
{
    box-sizing: border-box;
    margin-right: 5%;
    margin-top: 1%;
    border: 2px solid white;
    border-radius: 5%;
    background-color: orangered;
}
.fila3 img
{
    box-sizing: border-box;
    margin-right: 5%;
    margin-top: 1%;
    border: 2px solid white;
    border-radius: 5%;
    background-color: orangered;
}
.fila4 img
{
    box-sizing: border-box;
    margin-right: 5%;
    margin-top: 1%;
    border: 2px solid white;
    border-radius: 5%;
    background-color: orangered;
}

.fila1 img:hover, .fila2 img:hover, .fila3 img:hover, .fila4 img:hover
{
    cursor:pointer;
    background-color: red;
    transition: .5s;
}
.animacion
{
    animation:shake 1s 1 ease-in-out;
}

@-webkit-keyframes shake {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }
  
  @keyframes shake {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }
  
  .shake {
    -webkit-animation-name: shake;
    animation-name: shake;
  }
  .tiempo
  {
    position: absolute;
    font-size: 1.5em;
    top: 4%;
    color: pink;
    text-shadow: 2px 2px black;
    left: 5%;
    font-family: 'Luckiest Guy', cursive;
    display: none;
  }
  .jugar
  {
    position: absolute;
    font-size: 1.5em;
    top: 1%;
    display: none;
    left: 5%;
    font-family: 'Luckiest Guy', cursive;
  }
  .taparJuego
  {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 69%;
    box-sizing: border-box;
    margin-top: 9%;
    display:none;
  }
  .activarTaparJuego
  {
      display:block;
  }
  .mostrar
  {
    display:block;
  }
  @media (max-width: 680px)
{
  .instrucciones
  {
      display:none;
  }
  .juego
  {
      width:100%;
  }
}