


<div class="contenido">
  <div class="instrucciones">
      <img class="cerebro2" src="../../assets/imgs/cerebro3.png">
    <h2>Instrucciones</h2>

<p>* Se le presentaran 3  operaciones aritm&eacute;ticas.</p>
  <p>*Tendra 25 segundos para resolverlas todas.</p> 
 <p>*Cada vez que responda correctamente se le sumaran 10 pts.</p> 
 <p>*¡La multiplicaci&oacute;n suma 50 pts!</p> 
<p>
  *Cada vez que no acierte no sumara puntaje.
</p>
<p>
  !A calcular!
</p>

  </div >
  <div class="juego">
      <div class="puntaje" [class.mostrarPuntajeFinal]="mostrarAlert">
          <div class="elPuntaje">
              <img  src="../../assets/imgs/cerebro.png" >
            <h1>{{mensaje}}</h1>
            </div>
        </div>
      <div class="taparJuego" (click)="JugarJuego()" [class.activarTaparJuego]="desactivarJuego">
        <h1>¡Presiona para jugar!</h1>
      </div>
      <div class="tiempo">
          <h2>Tiempo:</h2>
          <span>{{tiempo}}</span>
          </div>
          <div class="puntos">
      
            <h2>Puntos:</h2>
            <span>{{puntos}}</span>
            </div>
         
      <h2 class="tituloJuego">¡Agilidad Aritm&eacute;tica!</h2>

      <div class="cuentas">
        <h2>{{valor1}}</h2>
          <span>{{operador}}</span>
          <h2>{{valor2}}</h2>
            <input type="number" [(ngModel)]="miValor" placeholder="resultado">
            <button class="calcular" (click)="Jugar()">Enviar</button>
      </div>

  </div>
</div>
