

<div class="elRegistro" [class.ocultar2]="ocultarRegistro">
    <div class="cuadroRegistro">
      <button class="cerrar" (click)="CerrarRegistro()"></button>
      <img class="cerebro2" src="../../assets/imgs/logo.png">
      <h1>Registro de cliente</h1>
   
        <input type="text" [(ngModel)]="correoReg" placeholder="Usuario">
        <input type="text" [(ngModel)]="nombreReg" placeholder="Nombre de usuario">
        <input type="password" [(ngModel)]="passReg" placeholder="contraseña">
        <button class="Login" (click)="Registrar()" >¡Crear perfil!</button>
    
    </div>
  </div>
  <div class="elLogin" [class.ocultar2]="ocultarLogin">
    <div class="cuadroLogin">
      <button class="cerrar" (click)="CerrarLogin()"></button>

        <img class="cerebro2" src="../../assets/imgs/logo.png">
      <h1>Iniciar Sesi&oacute;n</h1>
   
        <input type="text" [(ngModel)]="correoLogin" placeholder="Usuario" name="userLogin">
        <input type="password" [(ngModel)]="passLogin" placeholder="contraseña">
        <button class="Login" (click)="Loguear()">Entrar</button>
    
    </div>
  </div>
<div class="contenido">
  
      
  <div class="caratula">
    <div class="titulo">
      <!--img class="cerebro"src="../../assets/imgs/logo.png"-->
      <h1>La comanda</h1>
      </div>
    
      <button (click)="mostrarRegistro()" class="Registro">Registro</button>
      <button (click)="mostrarLogin()" class="Login">Login</button>
  </div>
</div>