<div class="contenido">
 
    <div class="mesas">
      <h1 class="tituloTabla">Pedidos que esperan a ser preparados por usted:</h1>
  
      <table>
              <tr>
                  <th>Código</th>
                <th>Pedido</th>
                <th>Acción</th>
                
              </tr>
              <tr *ngFor="let pedido of pedidos">
                  <td>{{pedido.codigo}}</td>
                <td><button class="btnOcupar" (click)="VerPedido(pedido.pedido, pedido.codigo)">Ver Pedido</button></td>
                <td><button class="btnOcupar" (click)="TerminarPedido(pedido.codigo, pedido.estadoCocinero, pedido.estadoCervecero)">Terminado</button></td>
              </tr>
           
            </table>
  
      </div>
      <div class="elPedido" id="elPedido" [class.mostrarPedido]="mostrarPedido">
          <span (click)="Cerrar()" class="cerrar">&#10008;</span>
        <h1>Pedido</h1>
        <div class="unPedido" *ngFor="let item of unPedido">
        
          <span class="cantidad"> {{item.cantidad}}</span>
          <h2>{{item.nombre}}</h2>

        </div>
       
       
       
          
      </div>
   
    
    </div>