<div class="contenidoJuegos">
  <div class="fila1">
  <div class="piedra">
      <h2>¡Piedra, papel o tijera!</h2>
    <img src="../../assets/imgs/papel.jpg"  width="50%" height="50%">
   
    <button (click)="irAPpt()"  class="btnJugar">Jugar</button>
    </div>
    <div class="memoria">
        <img src="../../assets/imgs/memoria.png"  width="50%" height="50%">
        <button  class="btnJugar">Jugar</button>
    </div>
    </div>
    <div class="fila2">
    <div class="adivina">
              <h2>Adivina el numero!</h2>
              <img src="../../assets/imgs/adivina.jpg"  width="50%" height="50%">
              <button  class="btnJugar btnAdivina">Jugar</button>
            </div>
            <div class="agilidad">
                <h2>agilidad Aritm&eacute;tica</h2>
                <img src="../../assets/imgs/agilidad.png"  width="50%" height="50%">
                <button  class="btnJugar btnAdivina">Jugar</button>
            </div>
          </div>
        </div>
<div>
  