@import url('https://fonts.googleapis.com/css?family=Anton|Carter+One|Lobster|Ultra');

.contenido
{
    width: 100%;
   min-height: 92%;
    background: red;
    position: relative;
    
    background-image: url("../../assets/imgs/fondo.jpg");
    margin-top: -78px;
    display: flex;
    text-align: center;
  
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 50px;
    flex-direction: column;
}

.grupo2, .grupo1
{
    width: 100%;

    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 20px;
}
.spinner
{
    width:100px;
    display:none;

}
.mostrarSpinner
{
    display: block!important;
}
.mesa
{
    width: 200px;
    
    border: 2px solid red;
    background: #f44336;
    border-radius: 5%;
    height: 280px;
    width: 200px;
    /* height: 200px; */
    background: orangered;
    position: relative;
    padding: 1%;
    /* display: flex; */
}
.mesas
{
    width: 80%;
    /* height: 600px; */
    background: rgba(0,0,0,.6);
    /* border-radius: 5%; */
    padding: 2%;
}

.boton
{
    background-color: red;
    border: 2px solid white;
    padding: 5px;
    /* border-radius: 40% 40%; */
    height: 80px;
    font-size: 1.6em;
    width: 45%;
    color: white;
    outline: none;
    height: 20%;
    font-family: 'Anton', sans-serif;
}

.boton:hover
{
    cursor:pointer;
    background-color:rgba(255, 0, 0, 0.541);
}
.tituloTabla
{
    color:white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
    color:white;
}
th
{
    background-color: orangered;
}
.btnOcupar
{
    background: red;
    outline: none;
    border-radius: 5%;
}
.btnOcupar:hover
{
    cursor:pointer;
    background-color: rgba(255, 0, 0, 0.432);
}

@media (max-height : 550px)
{
   .contenido
   {
       height: 580px;
   }
}
