<div class="contenido">
  
  <div class="cuenta"  [class.mostrar]="todosEntregados">
    <h1>Cuenta</h1>


      <div class="item" *ngFor="let plato of pedido">
        <h2>{{plato.nombre}}</h2><span>${{plato.total}}</span>
        
      </div>
   
      
      <div class="total">
         <h2>Total</h2><span>${{finalTotal}}</span>
    </div>
    <button class="btnPagar" (click)="Pagar()">Pagar</button>
  </div>
  <div class="mensaje"  [class.ocultar]="todosEntregados">
   <h1 class="elMensaje"> {{mensaje}}</h1>
  </div>

  <img class="spinner"  [class.mostrarSpinner]="mostrarSpinner" src="../../assets/imgs/spinner.gif">

</div>