@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');

*, body{

    box-sizing: border-box;

}
.contenido
{
    width: 100%;
    height: 768px;
  
    display:flex;

   

}
.instrucciones
{
    width:30%;
    height: 100%;
    background-color:#f44336;
 
    padding-left:15px;
    
}
.instrucciones h2
{
    font-family: 'Luckiest Guy', cursive;
    color:white;
    letter-spacing: 1px;
    text-align: center;
}
.instrucciones p
{
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-align: left;
}
.juego
{
    width:70%;
    height: 100%;
    display:flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    background-color: #3488c0;
    position: relative;
}
.juegoPc
{
    margin-top:30px;
}
.juegoUser
{
   
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}
.jugadaPapel
{
    border:5px solid red;
    border-radius:10%;

}
.mostrarPuntajeFinal
{
    display:none!important;
}
.puntaje
{
    position:absolute;
    z-index:1200;
    width: 100%;
    height: 100%;
    display:flex;
    
    justify-content: center;
    align-items:center; 
  
 
  justify-content: center;
  }
  .jugar
  {
   
    background-color: red;
    border: 2px solid white;
    padding: 2px;
    border-radius: 40% 40%;
    font-size: 1.6em;
    width: 100px;
    display: none;
    position: absolute;
    z-index: 1000;
    top: 70px;
    left: 5%;
    color: white;
    outline: none;
    font-family: 'Luckiest Guy', cursive;
  }
  .taparJuego
  {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 77%;
    box-sizing: border-box;
    margin-top: 112px;
    display: none;
      background-color: rgba(255, 0, 0, 0.301);
    
  }
  .activarTaparJuego
  {
      display:block;
  }
  .elPuntaje
  {
      box-sizing: border-box;
      position: relative;
      justify-content: center;
      text-align: center;
      margin-top: 30px;
      background-color: #f44336;
      width: 50%;

      /* height: 50%; */
      border: 7px solid white;
      border-radius: 13%;
  }
  .jugar:hover
    {
        background: rgba(255, 0, 0, 0.568);
     
        cursor: pointer;
    }
  .puntos
{

    position: absolute;
    top: 116px;
    right: 5%;
}
.puntos h2
{
    font-family: 'Luckiest Guy', cursive;
}
.puntos span
{
    font-family: 'Luckiest Guy', cursive;
    font-size:3em;
}
  .elPuntaje h1
  {
    font-family: 'Anton', sans-serif;
      color:black;
      letter-spacing: 1px;
  }
  .elPuntaje img
  {
      width: 60%;
      height: 60%;
      
      margin-bottom: -25px;
  }
.pregunta
{
    border: 5px solid #000000;
    padding-right: 20px;
    border-radius: 10%;
    background: white;
    box-sizing: border-box;
}
.jugadaPiedra
{
    border:5px solid blue;
    border-radius:10%;
    background-color: white;
    box-sizing: border-box;
}
.jugadaPiedra:hover
{ cursor: pointer;
    border:8px solid blue;


}
.jugadaTijera
{
    border:5px solid orangered;
    border-radius:10%;
    background-color: white;
    box-sizing: border-box;
}
.tituloJuego
{
   
    text-align: center;
    font-family: 'Fascinate Inline', cursive!important;
    color:white;
}
.jugadaPapel:hover
{
    cursor:pointer;

    border:8px solid red;
    transition: .3s;
    box-sizing: border-box;
}
.jugadaTijera:hover
{
    cursor:pointer;

    border:8px solid orangered;
    transition: .3s;
}
.jugadaPapel , .jugadaPiedra , .jugadaTijera 
 {
     width:150px;
     height: 150px;
 }
.cerebro2
{
    width: 50%;
    height: 25%;
    margin-left: 16%;
    margin-top: 15px;
}
.activa
{
    height: 170px;
    width:170px;
    box-sizing: border-box;
}
.miAlert
{
    position: absolute;
    width: 67%;
  
    height: 89%;
    z-index: 200;
    display: none;
  
    margin-top: -75px;
}
.alert
{
    width: 198px;
    padding: 1%;
    position: absolute;
    border: 5px solid white;
    background-color: #3c51c5;
    border: 7px solid white;
    border-radius: 13%;
    right: 0%;
    top: 150px;
    display:none;
}
.alert h1
{
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.2em;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    display:block;
}
.mostrar
{
    display:block;
}
@media (max-width: 680px)
{
  .instrucciones
  {
      display:none;
  }
  .juego
  {
      width:100%;
  }
  .puntaje
  {
      width:100%;
  }
}
@media (max-width: 520px)
{
    .jugadaPapel , .jugadaPiedra , .jugadaTijera 
    {
        width:100px;
        height: 100px;
    }
    .activa
{
    height: 130px;
    width:130px;
    box-sizing: border-box;
}
}