/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
html
{
    height: 100%;
}
body
{
    width:100%;
    height: 100%;
    margin:0;
}

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
    $font-family:  'Fascinate Inline','Luckiest Guy'
)
@include mat-core($custom-typography);