.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  @import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
  @import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');


  .tituloInicial
  {
    font-family: 'Fascinate Inline', cursive!important;
    font-size:1.7em;
    margin-right: 20%;
    color:white;
  }
  .example-spacer
  {
      margin-right: 5%;
  }
 
  .menu
  {
      margin-right: 3%;
    font-family: 'Luckiest Guy', cursive;
    color:white;
  }
  .menu:hover
  {
      cursor: pointer;
      color:pink;
  }
  .ruta
  {
    text-decoration: none;
    color:white;
  }
  .activa
  {
    color:pink;
  }
  .contenidoInicial
  {
      width:100%;
    height: 100vh;
   
   
     
  }
  .salir
  {
    justify-content: end;
    position: relative;
    right: 0px;
    margin-left: 200px;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 1px;
  }