.example-icon {
  padding: 0 40px;
}

.example-spacer {
  flex: 1 1 auto;
}
  @import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
  @import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');


  .tituloInicial
  {
    font-family: 'Fascinate Inline', cursive!important;
    font-size: 2em;
    
    color: white;
   
  }
  .example-spacer
  {
      margin-right: 5%;
  }
 .btnMenu
 {
  
 
  background-size: 100% 100%;
 font-size:3em;
  position: absolute;
  outline: none;
  background-color: transparent;
  border: none;
  top: 1%;
  right: 1%;
  font-family: 'Fascinate Inline', cursive!important;
  display:none;
  color:white;
 }
 .btnMenu:hover
 {
    cursor: pointer;
    color:pink;

 
 
 }
.link
{
  text-decoration:none;
  color:black;
}
 .menuResp
  {
    width:200px;
    background-color: orangered!important;
 }
  .menu
  {
      margin-right: 3%;
    font-family: 'Luckiest Guy', cursive;
    color:white;
  }
  .menu:hover
  {
      cursor: pointer;
      color:pink;
  }
  .ruta
  {
    text-decoration: none;
    color:white;
    font-family: 'Luckiest Guy', cursive;
    color:white;
    font-size:1em;
  }
  .cabecera
  {
    width: 100%;
    height: 78px;
    background-color: #183c54;
    box-sizing: border-box;
  }
  .rutas
  {
    float: left;

    width: 100%;
    box-sizing: border-box;
    list-style-type: none;
    margin-top: 20px;
   
  }
  .ruta1
  {
    margin-left:20%;
  }
  .rutas li
  {
    
    color: white;
    float: left;
    /* width: 36%; */
    margin-right: 5%;
    
  }
  .rutas li a{
    font-size:1.2em;
    text-decoration: none;
    color:white;
  }
  .activa
  {
    color:pink!important;
  }
  .contenidoInicial
  {
      width:100%;
    height: 100vh;
   
   
     
  }
  .salir
  {
    justify-content: end;
    position: relative;
    right: 0px;

    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 1px;
  }

  .responsiveRuta
  {
    margin-left:0%;
  }
  @media (max-width: 1150px)
{
  .ruta1
  {
    margin-left:0%;
  }
  
}

@media (max-width: 850px)
{
  .ruta
  {
    display:none;
  }
  .btnMenu
  {
    display:block;
  }
}
